<main class="py-5">
    <section class="">
        <div class=" p-8 max-w-[40%] mx-auto max-[630px]:max-w-[80%]">
            <h4 class=" text-center font-extrabold text-principal text-2xl max-[630px]:text-l">Los mejores ya han confiado en nosotros, convierte a tu empresa en parte de la familia "La avispa".</h4>
        </div>
        <div class="items-center flex  max-w-[60%] mx-auto">
            <img class="mx-auto h-1/5 w-1/5" src="../assets/img/heladosSultana.png" alt="logo de helados sultana del norte">
            <img class="mx-auto h-1/5 w-1/5" src="../assets/img/michoacana.png" alt="logo de la michoacana">
            <img class="mx-auto h-2/5 w-2/5" src="../assets/img/comgomez.png" alt="logo de comercializadora gomez puebla">
        </div>
    </section>
    <section class="bg-[#01090b]">
        <div class=" px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
            <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-principal ">Productos la avispa</h2>
                <p class="font-light text-gray-500 lg:mb-16 sm:text-xl ">Sabemos la importancia de ofrecerle lo mejor a tus clientes, es por eso que nosotros te ofrecemos los mejores productos.</p>
            </div> 
            <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
                <div class="items-center bg-gray-50 rounded-lg shadow sm:flex">
                    <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="../assets/img/chamoyCubeta.webp" alt="Cubeta de base para paleta de chamoy la avispa">
                    <div class="p-5">
                        <h3 class="text-xl font-bold tracking-tight text-nav">
                            Cubeta de base para paleta de chamoy
                        </h3>
                        <span class="text-gray-500 ">20 litros</span>
                        <p class="mt-3 mb-4 font-light text-gray-500 ">
                            Con esta base para paleta lleva tus paletas de agua al siguiente nivel de sabor, ya sea de limón, tamarindo, mango, pepino, etc...
                        </p>
                        <a href="/#/pedidos" class="bg-nav inline-flex items-center justify-center px-5 py-3 text-principal font-medium text-center text-gray-900 border border-gray-300 rounded-lg opacity-95 hover:opacity-100 ">
                            Realiza tu pedido
                        </a> 
                    </div>
                </div> 
                <div class="items-center bg-gray-50 rounded-lg shadow sm:flex">
                    <a href="#">
                        <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="../assets/img/chamoyCubeta.webp" alt="Cubeta de base para paleta nieve y trolebus de chamoyada la avispa">
                    </a>
                    <div class="p-5">
                        <h3 class="text-xl font-bold tracking-tight text-gray-900 ">
                            Cubeta de base para paleta, nieve y trolebus de chamoyada
                        </h3>
                        <span class="text-gray-500 ">20 litros</span>
                        <p class="mt-3 mb-4 font-light text-gray-500 ">Dale tu toque especial a tus paletas, nieves y trolebus con el increible sabor de chamoy la aivspa</p>
                        <a href="/#/pedidos" class="bg-nav inline-flex items-center justify-center px-5 py-3 text-principal font-medium text-center text-gray-900 border border-gray-300 rounded-lg opacity-95 hover:opacity-100 ">
                            Realiza tu pedido
                        </a> 
                    </div>
                </div> 
            </div>
        </div>
    </section>
</main>