nav{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
nav ul{
    max-width: 100%;
    display: flex;
}
nav ul li{
    padding: 2% 5% 2% 0;
    list-style: none;
}
nav ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li a:hover{
    color: rgb(187, 189, 189);
}
