<main>
    <section class="bg-[#01090b]">
        <div class="py-5 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-principal">Ponte en contacto con nosotros</h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Tienes duda sobre como realizar tu primer pedido, o quisieras convertirte en distribuidor oficial. Por favor haznoslo saber.</p>
            <form id="contacto" action="https://formspree.io/f/xayzprww" method="POST" class="space-y-8">
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-principal font-extralight ">Nombre</label>
                    <input class="shadow-sm bg-gray-50 border border-gray-300 text-nav text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" type="text" id="name" name="name" placeholder="Nombre" required="" />
                </div>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-principal font-extralight">Email</label>
                    <input type="text" id="name" name="name" required=""  class="shadow-sm bg-gray-50 border border-gray-300 text-nav text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="correo@correo.com" required>
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-principal font-extralight">Mensaje</label>
                    <textarea for="message" id="message" name="message" required rows="6" class="block p-2.5 w-full text-sm text-nav bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 " placeholder="Dejanos tu duda detalladamente"></textarea>
                </div>
                <button type="submit" class="py-3 px-5 text-sm font-medium text-center rounded-lg text-nav  bg-box sm:w-fit opacity-90 hover:opacity-100">Enviar mensaje</button>
            </form>
        </div>
      </section>
</main>