<main>
    <section class="block bg-box mb-5 my-5 max-w-[100%] mx-auto rounded-3xl ">
        <div>
            <h2 class=" font-bold text-4xl font-nav text-center p-3 max-[450px]:text-3xl">Distribuidores oficiales</h2>  
        </div>
        <div class="inline max-[800px]:block max-w-[100%] justify-evenly ">
            <div class=" max-w-[40%] max-[800px]:max-w-[90%] bg-[#ECE9EA] rounded-3xl p-5 my-5 border border-solid border-.5 border-black mx-auto">
                <div class="border-b border-b-2 border-black">
                    <p class="text-2xl font-bold max-[450px]:text-xl">Nombre</p>
                    <p class="max-[450px]:text-sm">Centro de abastos cdmx</p>
                </div>
                <div class="border-b border-b-2 border-black">
                    <p class="text-2xl font-bold max-[450px]:text-xl">Productos en existencia</p>
                    <p  class="max-[450px]:text-sm">Base para paleta de chamoy</p>
                </div>
                <div class="border-b border-b-2 border-black">
                    <div>
                        <p class="text-2xl font-bold max-[450px]:text-xl">Ubicacion</p>
                        <p class="max-[450px]:text-sm">calle</p>
                    </div>
                </div> 
                <div>
                    <p class="text-2xl font-bold max-[450px]:text-xl">Medio de contacto</p>
                    <p class="max-[450px]:text-sm">correo@correo</p>
                </div>   
            </div>
            <div class=" max-w-[48%] max-[800px]:max-w-[90%] bg-[#ECE9EA] rounded-3xl p-5 my-5 border border-solid border-.5 border-black mx-auto">
                <div class="border-b border-b-2 border-black">
                    <p class="text-2xl font-bold max-[450px]:text-xl">Nombre</p>
                    <p class="max-[450px]:text-sm">Centro de abastos cdmx</p>
                </div>
                <div class="border-b border-b-2 border-black">
                    <p class="text-2xl font-bold max-[450px]:text-xl">Productos en existencia</p>
                    <p  class="max-[450px]:text-sm">Base para paleta de chamoy</p>
                </div>
                <div class="border-b border-b-2 border-black">
                    <div>
                        <p class="text-2xl font-bold max-[450px]:text-xl">Ubicacion</p>
                        <p class="max-[450px]:text-sm">calle</p>
                    </div>
                </div> 
                <div>
                    <p class="text-2xl font-bold max-[450px]:text-xl">Medio de contacto</p>
                    <p class="max-[450px]:text-sm">correo@correo</p>
                </div>   
            </div>      
        </div>
        <div>
            <h3 class="font-bold text-xl font-nav text-center p-3">Cualquier duda sobre nuestros distribuidores puede informarnosla o contactar directamente con ellos utilizando el medio de contacto.</h3>  
        </div>
    </section>
</main>